*{
  // scroll-behavior: smooth;
  outline: none;
}
html,
body{
  width: 100%;
  height: 100%;
}
html{
  font-size: 62.5%;
  // overflow: hidden;
}
.flex{
  display: flex;
}
.between{
  display: flex;
  justify-content: space-between;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none; 
}