$semi : "FB Miller Display Semibold";
$roman : "FB Miller Display Roman";
$goL: "A1 Gothic L","Hiragino Kaku Gothic ProN","メイリオ", "sans-serif";
$goR: "A1 Gothic R","Hiragino Kaku Gothic ProN","メイリオ", "sans-serif";
$main : #8c8060;
$hover: #AEA488;